body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-lg {
    padding: 10px 20px;
    font-size: 1.2rem;
}

/* New Styles */
.bg-cover {
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/718/309/non_2x/minimalist-dark-gradient-wave-background-simple-design-for-your-website-free-vector.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

header p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

section {
    padding: 60px 0;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section p.lead {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}
